@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.blur {
   filter:  drop-shadow(40);
}

/* styles.css or your global CSS file */
.gradient-bg-welcomes {
    background-color: white; /* Fallback color for light mode */
    background-image: 
      radial-gradient(at 0% 0%, rgb(255, 255, 255) 0, transparent 50%), 
      radial-gradient(at 50% 0%, rgb(255, 255, 255) 0, transparent 50%), 
      radial-gradient(at 100% 0%, rgb(255, 255, 255) 0, transparent 50%);
}

/* Dark mode gradient */
.dark\:gradient-bg-welcome {
    background-color: #0f0e13; /* Dark mode fallback */
    background-image: 
      radial-gradient(at 0% 0%, hsla(253, 16%, 7%, 1) 0, transparent 50%), 
      radial-gradient(at 50% 0%, hsla(225, 39%, 30%, 1) 0, transparent 50%), 
      radial-gradient(at 100% 0%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
}

  .gg {
    background-color:#0f0e13;
background-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(22,23,23,1) 26%, rgba(32,33,33,1) 87%);; 
  }
 
  .gradient-bg-services {
    background-color:#0f0e13;
    background-image: 
      radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
      radial-gradient(at 50% 100%, hsla(225,39%,25%,1) 0, transparent 50%);
  }
  
  .gradient-bg-transactions {
    background-color: #0f0e13;
    background-image: 
      radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 50%), 
      radial-gradient(at 50% 0%, hsla(225,39%,25%,1) 0, transparent 50%);
  }
  
  .gradient-bg-footer {
    background-color: #0f0e13;
    background-image: 
      radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 53%), 
      radial-gradient(at 50% 150%, hsla(339,49%,30%,1) 0, transparent 50%);
  }
  
@layer utilities{
   .contact-btn{
@apply  rounded-full bg-black text-white dark:bg-white dark:text-black  px-6 py-2 font-extrabold 

    }
}
